@import '~open-color/open-color';

* {
  box-sizing: border-box;
}

html {
  background-color: $oc-white;
}

#root {
  font-family: 'Gothic A1', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  color: $oc-gray-9;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //display: inline-block;
  font-weight: 400;
  margin: 0;
  font-size: 1em;
}

dl,
dt,
dd {
  margin: 0;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}
